:root {
  --blue: #0274bd;
  --beige: #e9e6dd;
  --brown: #c4ad9d;
  --orange: #f57251;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  margin: 0px;
}

.header {
  width: auto;
  height: 110px;
  background-color: var(--beige);
}
p#name {
  position: absolute;
  left: 170px;
  top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.login-container {
  position: absolute;
  height: 50px;
  left: 1100px;
  top: 40px;
}
.login-container ul {
  list-style: none;
  display: flex;
}
.login-container ul li {
  padding-right: 70px;
  position: relative;
}
.login-container ul li a {
  position: relative;
  text-decoration: none;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: black;
}
#sign {
  color: var(--orange);
}
.menu {
  width: auto;
  position: relative;
  height: 1000px;
  background-color: var(--blue);
}
.menu_container {
  position: relative;
  display: flex;
  flex-direction: rows;
  width: auto;
  height: 400px;
  top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.menu_container #text {
  position: absolute;
  left: 150px;
  bottom: 100px;
  width: 400px;
  height: 300px;
}
.menu_container #slide {
  position: absolute;
  width: 500px;
  height: 400px;
  bottom: 50px;
  left: 700px;
  border: 2px solid var(--orange);
  border-radius: 10px;
}
img {
  position: relative;
  width: 497px;
  height: 397px;
  object-fit: cover;
  border-radius: 8px;
}
.menu span {
  display: block;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-align: right;
}
.footer {
  width: auto;
  height: 400px;
  background-color: var(--brown);
}
